@tailwind base;
@tailwind components;
@tailwind utilities;

.lazy-load-image-background {
  width: 100%;
  height: 100%;
}
.lazy-load-image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.opacityLayer {
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}
