@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #04152d;
}

.lazy-load-image-background {
  width: 100%;
  height: 100%;
}
.lazy-load-image-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.opacityLayer {
  background: linear-gradient(180deg, rgba(4, 21, 45, 0) 0%, #04152d 79.17%);
}
.menuItemMobile {
  font-size: 20px;
  width: 100%;
  height: auto;
  padding: 15px 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
.show {
  background-color: #020c1b;
}
.hide {
  transform: translateY(-60px);
}
.boxShadow {
  box-shadow: 0 0 0.625em #da2f68;
  color: #da2f68;
}
