.triangle {
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: white;
  transform: translateY(0);
  transition: all 0.7s ease-in-out;
}
.circle {
  stroke: white;
  stroke-dasharray: 650;
  stroke-dashoffset: 1300;
  transition: all 0.5s ease-in-out;
}
.triangle:hover {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #da2f68;
  animation: trailorPlay 0.7s ease-in-out;
}
.circle:hover {
  stroke-dashoffset: 0;
  stroke: #da2f68;
}
.CircularProgressbar-text {
  fill: white;
}
